<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <div class="sidebar-brand-icon">
            <!--i class="fas fa-laugh-wink"></i-->
            <img src="../../../assets/img/favicon.png" style="width:40px;height:40px;" />
        </div>
        <div class="sidebar-brand-text mx-3">V-SERVE</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" routerLink="/dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>
    <!-- User Menu-->
    <li class="nav-item" *ngIf="IsUser">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
            aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Service provider</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" routerLink="/dashboard/newsprequest">New Request</a>
                <a class="collapse-item" href="/dashboard/inbox?status=">Status</a>
            </div>
        </div>
    </li>

    <li class="nav-item" *ngIf="IsUser">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
            aria-controls="collapsePages">
            <i class="fas fa-fw fa-cog"></i>
            <span>Other services</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Seller Verification</h6>
                <a class="collapse-item" routerLink="/dashboard/sellerrequest">New Request</a>
                <a class="collapse-item" href="/dashboard/sellerinbox?status=">Status</a>
                <h6 class="collapse-header">Job Posting</h6>
                <a class="collapse-item" routerLink="/dashboard/postjob">Post Job</a>
                <a class="collapse-item" href="/dashboard/jobstatus?status=">Status</a>
                <div class="collapse-divider"></div>
                <h6 class="collapse-header">Payment</h6>
                <a class="collapse-item" href="/dashboard/newpayment">New Payment</a>
                <a class="collapse-item" href="/dashboard/paymentstatus">Payment Status</a>
            </div>
        </div>
    </li>
    <!-- User Menu End-->
    <!-- Bank Admin Menu-->

    <li class="nav-item" *ngIf="IsBankAdmin">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
            aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Service provider</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Inbox</h6>
                <a class="collapse-item" href="/dashboard/inbox?status=new">New</a>
                <a class="collapse-item" href="/dashboard/inbox?status=verified">Verified</a>
                <a class="collapse-item" href="/dashboard/inbox?status=rejected">Rejected</a>
                <a class="collapse-item" href="/dashboard/inbox?status=">All</a>
            </div>
        </div>
    </li>

    <li class="nav-item" *ngIf="IsBankAdmin">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
            aria-controls="collapsePages">
            <i class="fas fa-fw fa-cog"></i>
            <span>Sellers</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Inbox</h6>
                <a class="collapse-item" href="/dashboard/sellerinbox?status=new">New</a>
                <a class="collapse-item" href="/dashboard/sellerinbox?status=verified">Verified</a>
                <a class="collapse-item" href="/dashboard/sellerinbox?status=rejected">Rejected</a>
                <a class="collapse-item" href="/dashboard/sellerinbox?status=">All</a>
            </div>
        </div>
    </li>
    <li class="nav-item" *ngIf="IsBankAdmin">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true"
            aria-controls="collapseFour">
            <i class="fas fa-fw fa-cog"></i>
            <span>Job</span>
        </a>
        <div id="collapseFour" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Application</h6>
                <a class="collapse-item" href="/dashboard/jobstatus?status=new">New</a>
                <a class="collapse-item" href="/dashboard/jobstatus?status=verified">Verified</a>
                <a class="collapse-item" href="/dashboard/jobstatus?status=rejected">Rejected</a>
                <a class="collapse-item" href="/dashboard/jobstatus?status=">All</a>
            </div>
        </div>
    </li>
    <!-- End ofBank Admin Menu-->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
            aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-user"></i>
            <span>My Account</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Options:</h6>
                <a class="collapse-item" href="#">Profile</a>
                <a class="collapse-item" href="#">Change Password</a>
                <a class="collapse-item" href="#">Forgot Password</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-fw fa-info"></i>
            <span>About Us</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-fw fa-table"></i>
            <span>Contact Us</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->