<!-- Page Wrapper -->
<div id="wrapper">
    <app-side-bar></app-side-bar>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <app-nav-bar></app-nav-bar>
            <!-- Begin Page Content -->
            <div class="container-fluid" style="margin-top: -10px;">
                <form [formGroup]="sellerRequestForm" (ngSubmit)="onSubmit();" enctype="multipart/form-data">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                        <!--<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm bg-gradient"><i
                            class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>-->
                    </div>
                    <!-- Content Row -->
                    <div class="row" style="margin-top:-20px;">
                        <!-- Content Column -->
                        <div class="col-lg-12 mb-4">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Seller Registration</h6>
                                </div>
                                <div class="card-body">
                                    <alert></alert>
                                    <div *ngIf="isLoadFom1">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label class="form-labelText">Establishment Name</label>
                                                    <input type="text" formControlName='establishmentName' class="form-control"
                                                        [ngClass]="{ 'is-invalid': submitted && f.establishmentName.errors }" />
                                                    <div *ngIf="submitted && f.establishmentName.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="f.establishmentName.errors.required">Establishment name is required
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label class="form-labelText">Business Type</label>
                                                    <select class="form-control" formControlName="businessType"
                                                        class="form-control"
                                                        [ngClass]="{ 'is-invalid': submitted && f.businessType.errors }">
                                                        <option selected disabled>Select</option>
                                                        <option *ngFor="let eachBus of bustypeList"
                                                            [ngValue]="eachBus">
                                                            {{eachBus}}</option>
                                                    </select>
                                                    <div *ngIf="submitted && f.businessType.errors" class="invalid-feedback">
                                                        <div *ngIf="f.businessType.errors.required">Choose Business type
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label class="form-labelText">License Number</label>
                                                    <input type="text" formControlName='licenseNumber'
                                                        class="form-control"
                                                        class="form-control"
                                                        [ngClass]="{ 'is-invalid': submitted && f.licenseNumber.errors }" />
                                                    <div *ngIf="submitted && f.licenseNumber.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="f.licenseNumber.errors.required">License number is
                                                            required
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label class="form-labelText">Owner's name</label>
                                                    <input type="text" formControlName='ownersName'
                                                        class="form-control" class="form-control"
                                                        [ngClass]="{ 'is-invalid': submitted && f.ownersName.errors }" />
                                                    <div *ngIf="submitted && f.ownersName.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="f.ownersName.errors.required">Owner's name is
                                                            required
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">                                            
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label class="form-labelText">Choose your Identity</label>
                                                    <select class="form-control" formControlName="identityType"
                                                        class="form-control"
                                                        [ngClass]="{ 'is-invalid': submitted && f.identityType.errors }">
                                                        <option disabled>Select</option>
                                                        <option *ngFor="let idtype of identities" [ngValue]="idtype">
                                                            {{idtype}}</option>
                                                    </select>
                                                    <div *ngIf="submitted && f.identityType.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="f.identityType.errors.required">Identity type is
                                                            required
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label class="form-labelText">Identity Number </label>
                                                    <input type="text" formControlName='identityNumber'
                                                        class="form-control" class="form-control"
                                                        [ngClass]="{ 'is-invalid': submitted && f.identityNumber.errors }" />
                                                    <div *ngIf="submitted && f.identityNumber.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="f.identityNumber.errors.required">Identity Number is
                                                            required
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <label class="form-labelText">Preferred Bank</label>
                                                <select class="form-control" formControlName="bankId"
                                                    class="form-control"
                                                    [ngClass]="{ 'is-invalid': submitted && f.bankId.errors }">
                                                    <option disabled>Select</option>
                                                    <option *ngFor="let bank of banks" [ngValue]="bank.id">
                                                        {{bank.bankName}}</option>
                                                </select>
                                                <div *ngIf="submitted && f.bankId.errors" class="invalid-feedback">
                                                    <div *ngIf="f.bankId.errors.required">Choose Bank
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <label class="form-labelText">Customer Id</label>
                                                        <input type="text" formControlName='custId' class="form-control"
                                                            class="form-control"
                                                            [ngClass]="{ 'is-invalid': submitted && f.custId.errors }" />
                                                        <div *ngIf="submitted && f.custId.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="f.custId.errors.required">Customer Id for the
                                                                selected bank is required
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">                                            
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <label class="form-labelText">Date of commencement</label>
                                                        <input type="text" formControlName='dateOfCommencement'
                                                            class="form-control" class="form-control" placeholder="dd-mm-yyyy" 
                                                            [ngClass]="{ 'is-invalid': submitted && f.dateOfCommencement.errors }" />
                                                        <div *ngIf="submitted && f.dateOfCommencement.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="f.dateOfCommencement.errors.required">Date Of commencement is required
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label class="form-labelText">Managing partners </label>
                                                    <input type="text" formControlName='managingPartners'
                                                        class="form-control" class="form-control"
                                                        [ngClass]="{ 'is-invalid': submitted && f.managingPartners.errors }" />
                                                    <div *ngIf="submitted && f.managingPartners.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="f.managingPartners.errors.required">Managing partners is
                                                            required
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label class="form-labelText">Number of male workers</label>
                                                    <input type="number" formControlName='numMaleWorkers'
                                                        class="form-control" class="form-control"
                                                        [ngClass]="{ 'is-invalid': submitted && f.numMaleWorkers.errors }" />
                                                    <div *ngIf="submitted && f.numMaleWorkers.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="f.numMaleWorkers.errors.required">Number of male workers is required
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label class="form-labelText">Number of female workers</label>
                                                    <input type="number" formControlName='numFemaleWorkers'
                                                        class="form-control" class="form-control"
                                                        [ngClass]="{ 'is-invalid': submitted && f.numFemaleWorkers.errors }" />
                                                    <div *ngIf="submitted && f.numFemaleWorkers.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="f.numFemaleWorkers.errors.required">Number of female workers is required
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label class="form-labelText">PAN</label>
                                                    <input type="text" formControlName='pan' class="form-control"
                                                        [ngClass]="{ 'is-invalid': submitted && f.pan.errors }" />
                                                    <div *ngIf="submitted && f.pan.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="f.pan.errors.required">PAN is required
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label class="form-labelText">Email Id</label>
                                                    <input type="text" formControlName='emailId' class="form-control"
                                                        [ngClass]="{ 'is-invalid': submitted && f.emailId.errors }" />
                                                    <div *ngIf="submitted && f.emailId.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="f.pan.errors.required">Email Id is required
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label class="form-labelText">Mobile Number</label>
                                                    <input type="text" formControlName='mobileNumber' class="form-control"
                                                        [ngClass]="{ 'is-invalid': submitted && f.mobileNumber.errors }" />
                                                    <div *ngIf="submitted && f.pan.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="f.mobileNumber.errors.required">Mobile number is required
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label class="form-labelText">Date Of birth</label>
                                                    <input type="text" formControlName='dateOfBirth' class="form-control"
                                                        [ngClass]="{ 'is-invalid': submitted && f.pan.errors }" placeholder="dd-mm-yyyy"  />
                                                    <div *ngIf="submitted && f.pan.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="f.pan.errors.required">Date Of Birth is required
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label class="form-labelText">Residential Address </label>
                                                    <textarea formControlName='residentialAddress' class="form-control"
                                                        rows="1" class="form-control"
                                                        [ngClass]="{ 'is-invalid': submitted && f.residentialAddress.errors }"></textarea>
                                                    <div *ngIf="submitted && f.residentialAddress.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="f.residentialAddress.errors.required">Residential Address is
                                                            required
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label class="form-labelText">Father/Guardian Detail </label>
                                                    <textarea formControlName='guardianAddress' class="form-control"
                                                        rows="1" class="form-control"
                                                        [ngClass]="{ 'is-invalid': submitted && f.guardianAddress.errors }"></textarea>
                                                        <div *ngIf="submitted && f.guardianAddress.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="f.guardianAddress.errors.required">Guardian
                                                            Detail is required
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>                                           
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label class="form-labelText">Place</label>
                                                    <input type="text" formControlName='place'
                                                        class="form-control" class="form-control"
                                                        [ngClass]="{ 'is-invalid': submitted && f.place.errors }" />
                                                    <div *ngIf="submitted && f.place.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="f.place.errors.required">Place is required
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label class="form-labelText">Choose District</label>
                                                    <select class="form-control" formControlName="districtName"
                                                        class="form-control"
                                                        [ngClass]="{ 'is-invalid': submitted && f.districtName.errors }">
                                                        <option selected disabled>Select</option>
                                                        <option *ngFor="let dis of disList"
                                                            [ngValue]="dis">
                                                            {{dis}}</option>
                                                    </select>
                                                    <div *ngIf="submitted && f.districtName.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="f.districtName.errors.required">District
                                                            Name is required
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label class="form-labelText">Postal Code</label>
                                                    <input type="text" formControlName='postalCode' class="form-control"
                                                        class="form-control"
                                                        [ngClass]="{ 'is-invalid': submitted && f.postalCode.errors }" />
                                                    <div *ngIf="submitted && f.postalCode.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="f.postalCode.errors.required">Postal Codeis
                                                            required
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label class="form-labelText">Postal Address</label>
                                                    <textarea formControlName='postalAddress' rows="1"
                                                        class="form-control" class="form-control"
                                                        [ngClass]="{ 'is-invalid': submitted && f.postalAddress.errors }"></textarea>
                                                    <div *ngIf="submitted && f.postalAddress.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="f.postalAddress.errors.required">Postal
                                                            Address is required
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label class="form-labelText">Upload Employment Detail </label>
                                                    <input type="file" name="employeesDetails" class="form-control"
                                                        formControlName="employeesDetails"
                                                        (change)="onPhotoFileSelected($event)" [ngClass]="{ 'is-invalid': submitted && f.employeesDetails.errors }" />
                                                    <div *ngIf="submitted && f.employeesDetails.errors" class="invalid-feedback">
                                                        <div *ngIf="f.employeesDetails.errors.required">Please upload employment details document
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label class="form-labelText">Upload supporting documents </label>
                                                    <input type="file" class="form-control"
                                                        formControlName="supportingDocuments"
                                                        (change)="onDocFileSelected($event)" [ngClass]="{ 'is-invalid': submitted && f.supportingDocuments.errors }" />
                                                    <div *ngIf="submitted && f.supportingDocuments.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="f.supportingDocuments.errors.required">Please upload
                                                            documents for proof
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                                     
                                        <div class="row">
                                            <div class="col-sm-9"></div>
                                            <div class="col-sm-3">
                                                <button (click)="loadForm2()"
                                                    class="d-none d-sm-inline-block btn btn-sm btn-primary bg-gradient"><i
                                                        class="fas fa-sm fa-sm text-white-50"></i>Proceed for Risk
                                                    Assessment</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Second Form-->
                                    <div *ngIf="isLoadFom2">
                                        <div class="row" *ngFor="let eachQuestion of serviceQuestions; let i = index">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="form-labelText">{{eachQuestion.question}}</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-3" style="text-align: center;">
                                                <!--<input type="radio" (change)="handleChange($event)" /> Yes-->
                                                <input type="radio" name='q{{i}}'/> Yes
                                                <input type="radio" name='q{{i}}' checked="checked"/> No
                                            </div>
                                            <div class="col-sm-3"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6"></div>
                                            <div class="col-sm-3" style="float:right;">
                                                <button (click)="loadForm1()"
                                                    class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm bg-gradient"
                                                    style="padding-left:20px;padding-right: 20px;"><i
                                                        class="fas fa-sm fa-sm text-white-50"></i>Back</button>
                                                <button type="submit"
                                                    class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm bg-gradient"
                                                    style="margin-left: 20px;"><i
                                                        class="fas fa-sm fa-sm text-white-50"></i>Submit
                                                    Request</button>

                                            </div>
                                            <div class="col-sm-3"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; vserve.com 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>