<app-nav></app-nav>
<section class="cta">
    <div class="cta-content">
        <div class="container" style="margin-top: -100px;margin-left:20px;">
            <div style="width: 900px;" id="searchbox">
                <h2 style="max-width:none;padding-left: 20px;">Find verified services.</h2>
                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" style="width: 90%;">
                    <div class="input-group">
                        <select class="form-control bg-light border-0 small" aria-label="Category"
                            aria-describedby="basic-addon2" [(ngModel)]="category" name="category">
                            <option placeholder="">Services</option>                            
                            <option *ngFor="let eachCategory of serviceCategoryList"
                                                            [ngValue]="eachCategory">{{eachCategory}}</option>
                        </select>
                        <input type="text" class="form-control bg-light border-0 small" [(ngModel)]="searchtext"
                            name="searchtext" placeholder="Your Location..." aria-label="Search"
                            aria-describedby="basic-addon2" style="min-width: 65%;">
                        <div class="input-group-append">
                            <button class="btn btn-primary bg-gradient" type="button" (click)="gotoSearchPage()">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>                
                <h5 style="color:wheat;padding-left: 23px;">We provide authentic services in collaboration with the FFDC banks and credit unions.</h5>

                <div style="font-size: 18px;color: white;padding-top: 100px;">
                    <!-- rinku-->
                    <h3 style="margin-top:-20px;padding-bottom: 10px;"><a href="#">What We Offer?</a></h3>
                    <div class="row mb-4">
                        <!--div class="col-md-12">
                            <div class="box">
                                <h3><a href="#">What We Offer?</a></h3>
                                <p class="mb-0" style="margin-left: 10px;">
                                    <i class="fa fa-check-circle" aria-hidden="true" style="color: #fdcc52;"></i>
                                    Verified Services– Verification via Unique Identification (UID), SSN and Finastra FFDC KYC
                                    <br/> 
                                    <i class="fa fa-check-circle" aria-hidden="true" style="color: #fdcc52;"></i>                                   
                                    Services will be routed through FFDC enrolled banks and CUs
                                    <br/>  
                                    <i class="fa fa-check-circle" aria-hidden="true" style="color: #fdcc52;"></i>                                  
                                    Payments are processed through registered banks and CUs
                                    <br/> 
                                    <i class="fa fa-check-circle" aria-hidden="true" style="color: #fdcc52;"></i>                                   
                                    KYC account verification
                                    <br/>  
                                    <i class="fa fa-check-circle" aria-hidden="true" style="color: #fdcc52;"></i>                                  
                                    Customers with legible bank accounts can 'Request for Verification' service</p>
                            </div>
                        </div-->
                        <!--Rinku-->
                        <div class="col-md-4">
                            <div>
                                <p  class="mb-0"> Verified Services– Verification via Unique Identification (UID), SSN and Finastra FFDC KYC.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <p  class="mb-0"> Services will be routed through FFDC enrolled banks and CUs.
                                    <br/>
                                    KYC account verification.
                                </p>
                           </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <p  class="mb-0">Payments are processed through registered banks and CUs.
                                   
                                </p>
                            </div>
                        </div>                                             
                        <!--Rinku End-->
                    </div>                    
                    <!---->
                </div>
            </div>
            
        </div>
    </div>
    <div class="overlay"></div>
    
</section>
<app-footer></app-footer>
<!--
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">V-Serve</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" data-toggle="modal" data-target="#loginModal">Login</a>

                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#features">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="masthead">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-7 my-auto">
                <div class="header-content mx-auto">
                    <h1 class="mb-5">New Age is an app landing page that will help you beautifully showcase your new
                        mobile app, or anything else!</h1>
                    <a class="btn btn-outline btn-xl js-scroll-trigger" data-toggle="modal" data-target="#registerModal">Register Now for Free!</a>
                </div>
            </div>
            <div class="col-lg-5 my-auto">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">
                            <div class="screen">
                               
                                <img src="./../../../assets/img/demo-screen-1.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="button">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="features" id="features">
    <div class="container">
        <div class="section-heading text-center">
            <h2>Unlimited Features, Unlimited Fun</h2>
            <p class="text-muted">Check out what you can do with this app theme!</p>
            <hr>
        </div>
        <div class="row">
            <div class="col-lg-4 my-auto">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">
                            <div class="screen">
                                
                                <img src="./../../../assets/img/demo-screen-1.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="button">
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 my-auto">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="feature-item">
                                <i class="icon-screen-smartphone text-primary"></i>
                                <h3>Device Mockups</h3>
                                <p class="text-muted">Ready to use HTML/CSS device mockups, no Photoshop required!</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="feature-item">
                                <i class="icon-camera text-primary"></i>
                                <h3>Flexible Use</h3>
                                <p class="text-muted">Put an image, video, animation, or anything else in the screen!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="feature-item">
                                <i class="icon-present text-primary"></i>
                                <h3>Free to Use</h3>
                                <p class="text-muted">As always, this theme is free to download and use for any purpose!
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="feature-item">
                                <i class="icon-lock-open text-primary"></i>
                                <h3>Open Source</h3>
                                <p class="text-muted">Since this theme is MIT licensed, you can use it commercially!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="cta">
    <div class="cta-content">
        <div class="container">
            <h2>Stop waiting.<br>Start building.</h2>
            <a href="#contact" class="btn btn-outline btn-xl js-scroll-trigger">Let's Get Started!</a>
        </div>
    </div>
    <div class="overlay"></div>
</section>

<section class="contact bg-primary" id="contact">
    <div class="container">
        <h2>We
            <i class="fas fa-heart"></i>
            new friends!</h2>
        <ul class="list-inline list-social">
            <li class="list-inline-item social-twitter">
                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li class="list-inline-item social-facebook">
                <a href="#">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
            <li class="list-inline-item social-google-plus">
                <a href="#">
                    <i class="fab fa-google-plus-g"></i>
                </a>
            </li>
        </ul>
    </div>
</section>

<footer>
    <div class="container">
        <p>&copy; Your Website 2020. All Rights Reserved.</p>
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="#">Privacy</a>
            </li>
            <li class="list-inline-item">
                <a href="#">Terms</a>
            </li>
            <li class="list-inline-item">
                <a href="#">FAQ</a>
            </li>
        </ul>
    </div>
</footer>

<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-title text-center">
                    <h4>Register</h4>
                </div>
                <div class="d-flex flex-column text-center">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" id="username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email1" placeholder="Email address">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="password1" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="password2" placeholder="Confirm password">
                        </div>
                        <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-info btn-block btn-round" (click)="register();">Register</button>
                    </form>

                    <div class="text-center text-muted delimiter">or use a social network</div>
                    <div class="d-flex justify-content-center social-buttons">
                        <button type="button" class="btn btn-secondary btn-round" data-toggle="tooltip"
                            data-placement="top" title="Twitter">
                            <i class="fab fa-twitter"></i>
                        </button>
                        <button type="button" class="btn btn-secondary btn-round" data-toggle="tooltip"
                            data-placement="top" title="Facebook">
                            <i class="fab fa-facebook"></i>
                        </button>
                        <button type="button" class="btn btn-secondary btn-round" data-toggle="tooltip"
                            data-placement="top" title="Linkedin">
                            <i class="fab fa-linkedin"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-title text-center">
                    <h4>Login</h4>
                </div>
                <div class="d-flex flex-column text-center">
                    <form>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email1" placeholder="Email address" [(ngModel)]="userDetailsData.username" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="password1" placeholder="Password" [(ngModel)]="userDetailsData.password" [ngModelOptions]="{standalone: true}">
                        </div>
                        <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-info btn-block btn-round" (click)="login();">Login</button>
                    </form>

                    <div class="text-center text-muted delimiter">or use a social network</div>
                    <div class="d-flex justify-content-center social-buttons">
                        <button type="button" class="btn btn-secondary btn-round" data-toggle="tooltip"
                            data-placement="top" title="Twitter">
                            <i class="fab fa-twitter"></i>
                        </button>
                        <button type="button" class="btn btn-secondary btn-round" data-toggle="tooltip"
                            data-placement="top" title="Facebook">
                            <i class="fab fa-facebook"></i>
                        </button>
                        <button type="button" class="btn btn-secondary btn-round" data-toggle="tooltip"
                            data-placement="top" title="Linkedin">
                            <i class="fab fa-linkedin"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->
