@import "./../../../../node_modules/startbootstrap-new-age/css/new-age.min.css";
.navbar-brand span{
    font-weight: bold;
    font-size: xx-large;
    padding-left: 3px;
}
.navbar-brand img
{
    width: 40px;
    height: 40px;
    margin-top: -12px;
}