<!-- Page Wrapper -->
<div id="wrapper">
    <app-side-bar></app-side-bar>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <app-nav-bar></app-nav-bar>
            <!-- Begin Page Content -->
            <div class="container-fluid">
                
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                        <!--<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm bg-gradient"><i
                            class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>-->
                    </div>
                    <!-- Content Row -->
                    <div class="row">
                        <!-- Content Column -->
                        <div class="col-lg-12 mb-4">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Service Provider Details</h6>
                                </div>
                                <div class="card-body">
                                  <!--  <div class="container emp-profile">-->
                                      <alert></alert>
                                        <form method="get">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="profile-img" style="padding-top: 30px;">
                                                        <img [src]="imageUrl" alt=""/>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">                       
                                                    <div class="profile-head" style="padding-top: 30px;">
                                                        <h5 class="profile-newsize">
                                                            {{this.spdtlsdata.fullName}}
                                                        </h5>
                                                        <h6 class="profile-jobtitle">
                                                            {{this.spdtlsdata.jobTitle}}
                                                        </h6>
                                                        <ngb-rating [max]="5" [(rate)]="spRating" [readonly]="true"></ngb-rating>  
                                                        <ul class="nav nav-tabs" id="myTab" role="tablist" style="padding-top: 60px;">
                                                            <li class="nav-item">
                                                                <a class="nav-link active" id="about-tab" data-toggle="tab" href="#about" role="tab" aria-controls="about" aria-selected="true">About</a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="nav-link" id="work-tab" data-toggle="tab" href="#work" role="tab" aria-controls="work" aria-selected="false">Work</a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="nav-link" id="jobdesc-tab" data-toggle="tab" href="#jobdesc" role="tab" aria-controls="jobdesc" aria-selected="false">Job Description</a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="nav-link" id="assessment-tab" data-toggle="tab" href="#assessment" role="tab" aria-controls="assessment" aria-selected="false">Assessment</a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="nav-link" id="verified-tab" data-toggle="tab" href="#verified" role="tab" aria-controls="verified" aria-selected="false">Verified</a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="nav-link" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false">Review</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="profile-work profile-pinfo">                                                                                         
                                                        <div class="row register-form">
                                                            <div class="col-md-6 ulcolor">
                                                                <div class="form-group">
                                                                    <label for="identityType">Date Of Birth</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 ulcolor">
                                                                <div class="form-group">
                                                                    <label for="identityType">{{this.spdtlsdata.dateOfBitrth}}</label>
                                                                </div>
                                                            </div>
                                                        </div>                                                                                                            
                                                        <div class="row register-form">
                                                            <div class="col-md-6 ulcolor">
                                                                <div class="form-group">
                                                                    <label for="identityType">Email</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group ulcolor">
                                                                    <label for="identityType">{{this.spdtlsdata.email}}</label>
                                                                </div>
                                                            </div>
                                                         </div>
                                                         <div class="row register-form">
                                                            <div class="col-md-6 ulcolor">
                                                                <div class="form-group">
                                                                    <label for="identityType">Mobile Number</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 ulcolor">
                                                                <div class="form-group">
                                                                    <label for="identityType">{{this.spdtlsdata.mobileNumber}}</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row register-form">
                                                            <div class="col-md-6 ulcolor">
                                                                <div class="form-group">
                                                                    <label for="identityType">Documents</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 ulcolor">
                                                                <div class="form-group">
                                                                    <button class="btndownload">  <i class="fa fa-download" aria-hidden="true"></i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row register-form">
                                                            <div class="col-md-6 ulcolor">
                                                                <div class="form-group">
                                                                    <label for="identityType">Status</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6" *ngIf="IsVerified">
                                                                <div class="form-group" style="color: rgb(21, 197, 21); font-weight: bold; font-style: italic;">
                                                                    <label for="identityType">{{spStatus}}</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6" *ngIf="!IsVerified">
                                                                <div class="form-group" style="color: rgb(245, 7, 7);font-weight: bold; font-style: italic;">
                                                                    <label for="identityType">{{spStatus}}</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row register-form" *ngIf="IsRejected">
                                                            <div class="col-md-6 ulcolor">
                                                                <div class="form-group">
                                                                    <label for="identityType">Rejected Reason</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group" style="color: rgb(128, 41, 0); font-weight: bold; font-style: italic;">
                                                                    <label for="identityType">{{spReason}}</label>
                                                                </div>
                                                            </div>
                                                        </div>  
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="tab-content profile-tab" id="myTabContent">
                                                        <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">
                                                            <div class="row">
                                                                <div class="col-md-6 ulcolor">
                                                                    <label>Gender</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <p>{{this.spdtlsdata.gender}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6 ulcolor">
                                                                    <label>Present Address</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <p>{{this.spdtlsdata.presentAddress}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6 ulcolor">
                                                                    <label>Permanent Address</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <p>{{this.spdtlsdata.permanentAddress}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6 ulcolor">
                                                                    <label>Identity Type</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <p>{{this.spdtlsdata.identityType}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6 ulcolor">
                                                                    <label>Identity Number</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <p>{{this.spdtlsdata.identityNumber}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6 ulcolor">
                                                                    <label>POC Name</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <p>{{this.spdtlsdata.pocName}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6 ulcolor">
                                                                    <label>POC Mobile</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <p>{{this.spdtlsdata.pocMobile}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane fade" id="work" role="tabpanel" aria-labelledby="work-tab">
                                                            <div class="row">
                                                                <div class="col-md-6 ulcolor">
                                                                    <label>Job Title</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <p>{{this.spdtlsdata.jobTitle}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6 ulcolor">
                                                                    <label>Service Category</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <p>{{this.spdtlsdata.serviceCategory}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6 ulcolor">
                                                                    <label>Experience</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <p>{{this.spdtlsdata.experience}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6 ulcolor">
                                                                    <label>Expected Pay</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <p>{{this.spdtlsdata.expectedPay}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6 ulcolor">
                                                                    <label>Prefered Location</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <p>{{this.spdtlsdata.preferedLocation}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane fade" id="jobdesc" role="tabpanel" aria-labelledby="jobdesc-tab">
                                                            <div class="row">
                                                                <div class="col-md-12 ulcolor">
                                                                    <label>{{this.spdtlsdata.jobDescription}}</label>
                                                                </div>
                                                               
                                                            </div>                                                          
                                                        </div>
                                                        <div class="tab-pane fade" id="assessment" role="tabpanel" aria-labelledby="assessment-tab">
                                                            <div class="row" *ngFor = "let item of questAnsDet;let i= index">
                                                                <div class="col-md-10 ulcolor">
                                                                    <label>{{i+1}}. {{item.question}}</label>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <p>{{item.answer}}</p>
                                                                </div>
                                                            </div>                                                          
                                                        </div>
                                                        <div class="tab-pane fade" id="verified" role="tabpanel" aria-labelledby="verified-tab">
                                                            <div class="row">
                                                                <div class="col-md-6 ulcolor">
                                                                    <label>Mobile Number</label>
                                                                </div>                                                             
                                                                <div class="col-md-6" *ngIf="ffdcVerify.isMobileNumMatch">
                                                                    <p>&#x2705;</p>  
                                                                </div>
                                                                <div class="col-md-6" *ngIf="!ffdcVerify.isMobileNumMatch">
                                                                    <p>&#10060;</p> 
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6 ulcolor">
                                                                    <label>Email</label>
                                                                </div>
                                                                <div class="col-md-6" *ngIf="ffdcVerify.isEmailIdMatch">
                                                                    <p>&#x2705;</p>  
                                                                </div>
                                                                <div class="col-md-6" *ngIf="!ffdcVerify.isEmailIdMatch">
                                                                    <p>&#10060;</p> 
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6 ulcolor">
                                                                    <label>Name</label>
                                                                </div>
                                                                <div class="col-md-6" *ngIf="ffdcVerify.isNameMatch">
                                                                    <p>&#x2705;</p>  
                                                                </div>
                                                                <div class="col-md-6" *ngIf="!ffdcVerify.isNameMatch">
                                                                    <p>&#10060;</p> 
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6 ulcolor">
                                                                    <label>Identity</label>
                                                                </div>
                                                                <div class="col-md-6" *ngIf="ffdcVerify.isIdentityMatch">
                                                                    <p>&#x2705;</p>  
                                                                </div>
                                                                <div class="col-md-6" *ngIf="!ffdcVerify.isIdentityMatch">
                                                                    <p>&#10060;</p> 
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6 ulcolor">
                                                                    <label>Date Of Birth</label>
                                                                </div>
                                                                <div class="col-md-6" *ngIf="ffdcVerify.isDobMatch">
                                                                    <p>&#x2705;</p>  
                                                                </div>
                                                                <div class="col-md-6" *ngIf="!ffdcVerify.isDobMatch">
                                                                    <p>&#10060;</p> 
                                                                </div>
                                                            </div>  
                                                            <!--div class="row">
                                                                <div class="col-md-6 ulcolor">
                                                                    <label>Gender</label>
                                                                </div>
                                                                <div class="col-md-6" *ngIf="ffdcVerify.isGender">
                                                                    <p>&#x2705;</p>  
                                                                </div>
                                                                <div class="col-md-6" *ngIf="!ffdcVerify.isGender">
                                                                    <p>&#10060;</p> 
                                                                </div>
                                                            </div-->                                                         
                                                        </div>
                                                        <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
                                                            <div class="row " *ngFor = "let element of spFeedback">
                                                                <p>&#9642;</p>
                                                                <div class="col-md-10 ulcolor">
                                                                    <label>{{element.feedback}}</label>                      
                                                                </div>
                                                              <!-- <div class="col-md-4" style="color:rgb(241, 80, 6); font-style: italic;font-weight: bold;">
                                                                    <label>{{element.username}}</label>  
                                                                </div> -->
                                                            </div>                                                           
                                                        </div>
                                                        <div class="row" *ngIf="IsBankAdmin">
                                                            <div class="col-md-6"></div> 
                                                            <div class="col-md-5">
                                                                <button (click)="verifyServiceProvider()"
                                                                    class="mr-3 d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm bg-gradient">
                                                                    <i class="fas fa-sm fa-sm text-white-50"></i>Verify
                                                                </button>
                                                                <button (click)="rejectServiceProvider()"
                                                                    class="mr-3 d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm bg-gradient">
                                                                    <i class="fas fa-sm fa-sm text-white-50 button-approve"></i>Reject
                                                                </button>
                                                                <button (click)="Back()"
                                                                    class="mr-3 d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm bg-gradient">
                                                                    <i class="fas fa-sm fa-sm text-white-50 button-approve"></i>Back
                                                                </button>
                                                            </div>
                                                            
                                                        </div>
                                                        <div class="row" *ngIf="IsUser">
                                                            <div class="col-md-6"></div> 
                                                            <div class="col-md-5">                                                                
                                                                <button (click)="Back()"
                                                                    class="mr-3 d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm bg-gradient">
                                                                    <i class="fas fa-sm fa-sm text-white-50 button-approve"></i>Back
                                                                </button>
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>           
                                   <!-- </div>-->
                                </div>   
                            </div>
                        </div>
                    </div>
                
            </div>
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; vserve.com 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>